.button {
    display: flex;
    height: 1.2em;
    flex: 1;
    font-weight: bold;
    background-color: #fff; 
    border: none;
    color: #7AD7F0;
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.4em;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #888;
  }
  .operator {
    background-color: #7AD7F0;
    color: #fff;    
    box-shadow: 5px 5px 3px #a7d5e2;
  }